### Tip 001 交換變數值
#### 將變數 a 的值，與變數 b 的值交換

In [4]:
a=3
b=8
print (f'a={a},b={b}')
print('\n Swap:')
a,b = b,a
print (f'a={a},b={b}')

a=3,b=8

 Swap:
a=8,b=3

### Tip 002
#### 寫一個函數，檢查一個數值是否為偶數 (enen)

In [5]:
def is_even(num):
  return num % 2 == 0
is_even(a)

True

### Tip 003 Split a string

In [7]:
def split_lines(s):
  return s.split('_')
split_lines('50_python_snippets')

['50', 'python', 'snippets']

#### 延伸練習：如果要拆分一整欄 (Column) 的資料：

In [41]:
# Create a sample Dataframe
import pandas as pd
import numpy as np
str1=[]
for i in range(5):
    character=[chr(np.random.randint(65,91)) for j in range(3)]
    str1.append('_'.join(character)) #'separator'.jiin()

data=pd.DataFrame(str1,columns=['S'])
print(f'data:\n {data} \n')

# Split the column
data.S.str.split('_',expand=True)

data:
        S
0  Z_N_X
1  Q_Q_N
2  B_D_P
3  Y_T_A
4  L_C_T

   0  1  2
0  Z  N  X
1  Q  Q  N
2  B  D  P
3  Y  T  A
4  L  C  T

### Tip 004 計算出現頻率最高的元素
#### lambda 和 key 的使用，可以另立一個完整的章節來討論

In [44]:
lt=[1,2,3,3,4,3,5,3]
max(set(lt),key=lt.count)

3

In [55]:
# The above snippet is equivatlent to the following one:
lt=[1,2,3,3,4,3,5,3]
max(set(lt),key=lambda x:lt.count(x))

3

### Tip 005 Used menory

In [34]:
import sys
print(sys.getsizeof(17500))
print(sys.getsizeof("17500"))

28
54

### Tip 006 Reverse

In [ ]:
l=list('abcdefg')
l[::-1]

### Tip 007 GCD (Greatest Common Divisor)

In [56]:
from functools import reduce
import math
def gcd(numbers):
  return reduce(math.gcd, numbers)
gcd([65,117])

13

In [ ]:
### Tip 008 Function as a parameter - refer to tip 004

In [31]:
def a (x):
    return x**2

l=[-5,-4,-3,-2,-1,0,1,2,3]
max(l,key=a)

-5

In [4]:
sorted(l,key=a)

[0, -1, 1, -2, 2, -3, 3, -4, -5]

In [16]:
def bmi(x):
    return round(x[1]/((x[0]/100)**2),2)

In [21]:
bmi ((175,70))

22.86

In [17]:
import numpy as np
cm=np.random.randint(150,180,30)
kg=np.random.randint(45,90,30)
data=list(zip(cm,kg))
data

[(150, 68),
 (177, 75),
 (170, 70),
 (162, 75),
 (168, 81),
 (169, 71),
 (160, 58),
 (150, 49),
 (164, 75),
 (163, 55),
 (151, 80),
 (156, 62),
 (155, 81),
 (157, 84),
 (173, 45),
 (177, 46),
 (172, 60),
 (174, 51),
 (172, 58),
 (167, 73),
 (153, 76),
 (175, 64),
 (160, 64),
 (167, 66),
 (158, 86),
 (166, 79),
 (161, 84),
 (167, 72),
 (162, 65),
 (173, 89)]

In [18]:
sorted(data,key=bmi)

[(177, 46),
 (173, 45),
 (174, 51),
 (172, 58),
 (172, 60),
 (163, 55),
 (175, 64),
 (150, 49),
 (160, 58),
 (167, 66),
 (177, 75),
 (170, 70),
 (162, 65),
 (169, 71),
 (160, 64),
 (156, 62),
 (167, 72),
 (167, 73),
 (164, 75),
 (162, 75),
 (166, 79),
 (168, 81),
 (173, 89),
 (150, 68),
 (161, 84),
 (153, 76),
 (155, 81),
 (157, 84),
 (158, 86),
 (151, 80)]

In [19]:
max(data,key=bmi)

(151, 80)

In [26]:
l2=list(np.random.randint(10,25,50))

In [27]:
l2

[10,
 20,
 23,
 24,
 22,
 23,
 24,
 13,
 12,
 12,
 24,
 18,
 16,
 13,
 10,
 11,
 22,
 23,
 16,
 17,
 17,
 10,
 15,
 21,
 17,
 15,
 17,
 19,
 10,
 14,
 22,
 12,
 10,
 22,
 14,
 12,
 18,
 17,
 22,
 24,
 11,
 15,
 18,
 20,
 20,
 19,
 21,
 10,
 13,
 20]

In [28]:
sorted(set(l2),key=l2.count)

[11, 14, 16, 19, 21, 13, 15, 18, 23, 12, 20, 24, 17, 22, 10]

In [29]:
set(l2)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}

In [30]:
for i in set(l2):
    print(f'no.={i} f={l2.count(i)}')

no.=10 f=6
no.=11 f=2
no.=12 f=4
no.=13 f=3
no.=14 f=2
no.=15 f=3
no.=16 f=2
no.=17 f=5
no.=18 f=3
no.=19 f=2
no.=20 f=4
no.=21 f=2
no.=22 f=5
no.=23 f=3
no.=24 f=4